<div class="studclasses form">
    <br />
    <br /> 
     <?php echo $this->Form->create('Studclass');?>
    <fieldset>
        <legend><?php echo __('Edit Class'); ?></legend>
       <?php
                echo $this->Form->input('class_name', array('value' => $studclass['Studclass']['class_name']));
		echo $this->Form->input('class_teacherID', array('label' => 'Class Teacher','options' => $teachers));
                echo $this->Form->hidden('classID', array('value' =>  $studclass['Studclass']['classID']));
                echo $this->Form->input('fees', array('value' =>  $studclass['Studclass']['fees']));
	?>
        <?php foreach ($subjects as $subject): ?>
                <tr>
                    <td>
                        <?php echo $this->Form->input($subject['Subject']['subject_name'], array('type' => 'checkbox', 'multiple' => 'checkbox', 'value' => $subject['Subject']['subjectID'])); ?>
                    </td>
                </tr>   
            </table>
    <?php endforeach; ?>
    </fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

<div class="actions">
    <h3><?php echo __('Actions'); ?></h3>
    <ul>
        <li><?php echo $this->Html->link(__('Enroll New Student'), array('controller' => 'students', 'action' => 'add')); ?> </li>

        <li><?php echo $this->Html->link(__('Make Payments'), array('controller' => 'payment_details', 'action' => 'viewdetails')); ?> </li>
        <li><?php echo $this->Html->link(__('Add New Class'), array('controller' => 'studclasses', 'action' => 'add')); ?> </li>
        <li><?php echo $this->Html->link(__('Add New Teacher'), array('controller' => 'teachers', 'action' => 'add')); ?> </li>
        <li><?php echo $this->Html->link(__('Add New Subject'), array('controller' => 'subjects','action' => 'add')); ?></li>
        <br />
        <li><?php echo $this->Html->link(__('List Students'), array('controller' => 'students', 'action' => 'index')); ?> </li>
        <li><?php echo $this->Html->link(__('List Payment Details'), array('controller' =>'payment_details','action' => 'index')); ?> </li>
        <li><?php echo $this->Html->link(__('List Students Class'), array('controller' => 'studclasses', 'action' => 'index')); ?> </li>
        <li><?php echo $this->Html->link(__('List Teachers'), array('controller' => 'teachers', 'action' => 'index')); ?> </li>
        <li><?php echo $this->Html->link(__('List Subjects'), array('controller' => 'subjects','action' => 'index')); ?> </li>
        
        <li><?php echo $this->Html->link(__('View Particular Student'), array('controller' => 'payment_details', 'action' => 'viewparticular')); ?> </li>
        <br />
<!--        <li><?php echo $this->Html->link(__('Make Attendance'), array('controller' => 'attendances','action' => 'make')); ?></li>
        <li><?php echo $this->Html->link(__('View Attendance'), array('controller' => 'attendances','action' => 'index')); ?></li>-->
    </ul>
</div>

